body {
    font-family: 'Raleway', Helvetic, sans-serif, arial;
    color: $dark-blue;
    -webkit-font-smoothing: antialiased;
    background: $offwhite;
    text-align: center;
    font-weight: normal;
}