doctype html
html
    include includes/head.html
    body
        include includes/header.pug
        +header(true)
        .container
            .box.emphasis
                h1.title-emphasis The Food and Drink
                p.important.center-text.half
                    | We offer a range of high-quality food and drink, including made-to-order coffees and
                    | an assortment of locally-sourced light meals.
                .box.inner.left.full-width
                    .image-heading.coffee
                        h2.text The Drinks
                    .flex-row.center-text
                        .flex-column-child.half.padded
                            p.emphasis.no-margin Americano
                            p.no-margin.subtle £1.50
                        .flex-column-child.half.padded
                            p.emphasis.no-margin Latte
                            p.no-margin.subtle £1.75
                        .flex-column-child.half.padded
                            p.emphasis.no-margin Cappuccino
                            p.no-margin.subtle £1.75
                        .flex-column-child.half.padded
                            p.emphasis.no-margin Mocha
                            p.no-margin.subtle £1.75
                        .flex-column-child.half.padded
                            p.emphasis.no-margin Indulgent Hot Chocolate
                            p.no-margin.subtle £2.00
                        .flex-column-child.half.padded
                            p.emphasis.no-margin Tea Pigs Everyday Brew
                            p.no-margin.subtle £1.50
                        .flex-column-child.half.padded
                            p.emphasis.no-margin Tea Pigs Lemon & Ginger
                            p.no-margin.subtle £1.75
                        .flex-column-child.half.padded
                            p.emphasis.no-margin Tea Pigs Super Fruit
                            p.no-margin.subtle £1.75
                        .flex-column-child.half.padded
                            p.emphasis.no-margin Tea Pigs Rot Bush
                            p.no-margin.subtle £1.75
                        .flex-column-child.half.padded
                            p.emphasis.no-margin Tea Pigs Camomile
                            p.no-margin.subtle £1.75
                        .flex-column-child.half.padded
                            p.emphasis.no-margin Maynards Apple Juice
                            p.no-margin.subtle £2.00
                        .flex-column-child.half.padded
                            p.emphasis.no-margin Apple / Orange juice carton
                            p.no-margin.subtle £1.00
                        .flex-column-child.half.padded
                            p.emphasis.no-margin Still spring water
                            p.no-margin.subtle £0.80
                        .flex-column-child.half.padded
                            p.emphasis.no-margin Sparkling spring water
                            p.no-margin.subtle £0.80
                .box.inner.right

        .container
            .box.emphasis

        include includes/footer.pug
        include includes/scripts.html
