@import url("https://fonts.googleapis.com/css?family=Raleway");
html {
  height: 100%;
  width: 100%; }

body {
  display: block;
  position: static;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', Helvetic, sans-serif, arial;
  color: #161F32;
  background: #E0E0E0;
  text-align: center;
  font-weight: normal !important; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal !important; }

h2 {
  font-size: 1.6em; }

p {
  line-height: 160%; }

a {
  color: #3A4355; }

span.vMiddle {
  vertical-align: middle; }

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  text-align: center; }

header {
  background-color: #58412F;
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
  margin: 0 0 20px;
  z-index: 9997;
  height: 250px;
  overflow: hidden;
  transition: all 0.5s; }
  header #mainLogo {
    display: block;
    margin: 0 auto;
    background-image: url("../images/TheWell-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 130px;
    width: 90%;
    max-width: 400px;
    transition: none !important; }

.contentSpacer {
  display: block;
  margin-top: 90px;
  width: 100%; }

.contentSpacer.homepage {
  margin-top: 280px; }

.importantText {
  position: relative;
  display: block;
  font-size: 1.2em;
  font-style: italic;
  color: #9E9E9E;
  margin: 15px auto 30px auto;
  font-family: "Raleway";
  line-height: 150%;
  clear: both; }

.vsmall {
  font-size: 0.8em; }

.floatLeft {
  float: left;
  width: 30%;
  margin: 0 20px 10px 10px;
  max-width: 325px;
  min-width: 200px; }

.floatRight {
  float: right;
  width: 30%;
  margin: 0 20px 10px 10px;
  max-width: 325px;
  min-width: 200px; }

.twothirds {
  display: inline-block;
  width: 60%; }
  .twothirds .importantText {
    margin: 0; }

.onethird {
  display: inline-block;
  min-width: 30%; }

.innerContainer {
  display: block;
  margin: 20px auto;
  width: 80%;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  padding: 0;
  text-align: left;
  border-left: 3px solid #0A1324 !important; }
  .innerContainer .headerImg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    @media (max-width: 1050px) {
      .innerContainer .headerImg {
        width: 760px; } }
  .innerContainer h2 {
    position: relative;
    display: inline-block;
    color: #FAFAFA;
    background: rgba(10, 19, 36, 0.83);
    font-size: 2em;
    padding: 12px 30px;
    font-weight: normal;
    margin: 12px; }
    @media (max-width: 1050px) {
      .innerContainer h2 {
        margin: 6px; } }

.priceList {
  margin: 20px 0;
  text-align: left;
  font-size: 1.2em; }
  .priceList .price {
    margin: 2px 0;
    display: block;
    font-style: italic;
    font-size: 0.8em;
    color: #9E9E9E;
    line-height: 90%; }
  .priceList hr {
    border-top: 1px solid #E0E0E0;
    height: 1px; }

.centerText {
  text-align: center; }

.half {
  display: inline-block;
  width: 50%;
  vertical-align: top; }
  @media (max-width: 740px) {
    .half {
      width: 95%;
      display: block;
      margin: 40px auto;
      clear: both;
      float: none !important; } }
  .half h2,
  .half h3,
  .half h4 {
    text-align: center; }

.importantText.half {
  width: 70%; }

.left {
  position: relative;
  float: left;
  text-align: left;
  margin-right: 10px;
  border-left: 3px solid #0A1324 !important; }

.right {
  position: relative;
  float: right;
  text-align: right;
  border-right: 3px solid #0A1324 !important; }
  .right h1,
  .right h2,
  .right h3,
  .right h4,
  .right h5 {
    text-align: center; }

.start {
  min-height: 145px; }

.whiteText {
  color: #FAFAFA; }

.blink {
  animation: 1.2s blink infinite; }

.alternativeTitle {
  font-family: "Raleway";
  color: #9E9E9E;
  font-size: 1.8em;
  text-shadow: none;
  margin-bottom: 0; }

.page {
  margin: 40px 0;
  background-color: #FAFAFA;
  padding: 20px 0 30px;
  overflow: auto;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid #E0E0E0;
  z-index: 1; }
  .page p.small {
    width: 80%;
    padding: 5px 0 10px;
    margin: 10px auto; }

.page.map {
  background: #3A4355;
  padding-top: 10px;
  padding-bottom: 0;
  color: #FAFAFA;
  text-align: left; }
  @media (max-width: 550px) {
    .page.map {
      text-align: center; } }
  .page.map h2 {
    display: inline-block;
    padding-left: 10px;
    margin: 0 10px 0 0;
    font-weight: normal; }
    @media (max-width: 550px) {
      .page.map h2 {
        display: block; } }
  .page.map .address {
    float: right;
    padding: 6px 15px; }
    @media (max-width: 550px) {
      .page.map .address {
        display: block;
        float: none; } }

.panel.last {
  padding-bottom: 90px; }

button,
a.linkLikeAButton {
  display: inline-block;
  padding: 0.6em 1.6em;
  margin: 6px;
  text-align: center;
  font-size: 1em;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #E0E0E0;
  cursor: pointer;
  box-sizing: border-box;
  color: #FAFAFA;
  background-color: #3A4355;
  transition: all 0.5s ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
  button:hover,
  a.linkLikeAButton:hover {
    background-color: #0A1324; }

.fullwidth {
  clear: both;
  display: block;
  width: 100%;
  border-bottom: 3px solid #0A1324 !important; }
  .fullwidth h1 {
    z-index: 2; }
    .fullwidth h1::before {
      content: ' ';
      position: absolute;
      width: 50%;
      min-width: 350px;
      background: rgba(117, 117, 117, 0.15);
      height: 8px;
      left: 0;
      right: 0;
      z-index: 0;
      margin: 16px auto; }

.innerPadding {
  padding-left: 15px;
  padding-right: 15px; }

.board .left,
.board .right {
  border: none; }
.board table {
  display: block;
  margin: 0 auto;
  width: 90%;
  text-align: right; }
  .board table td:first-child {
    text-align: left; }

img.boxed {
  padding: 0.4em;
  background: #FAFAFA;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3); }

p.nextToImg {
  text-align: justify;
  margin: 10px 20px;
  padding: 10px 0; }

footer {
  margin-top: 40px;
  background-color: #161F32;
  color: #FAFAFA;
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.3); }
  footer h3 {
    margin: 0 auto;
    padding: 20px;
    text-shadow: none;
    font-weight: normal;
    font-size: 1.6em; }
  footer a {
    color: #FAFAFA; }
  footer p.last {
    padding: 30px 0;
    margin: 0; }

hr {
  display: block;
  width: 30%;
  border: none;
  margin: 25px auto;
  padding: 0; }

.imageWithCaption {
  position: relative;
  display: inline-block;
  background: #FAFAFA;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
  vertical-align: middle;
  padding: 0.4em;
  margin: 30px;
  width: 40%;
  z-index: 1000; }
  @media (max-width: 770px) {
    .imageWithCaption {
      width: 80%; } }
  .imageWithCaption img {
    width: 100%;
    vertical-align: middle;
    opacity: 1;
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: opacity 0.5s ease; }
  .imageWithCaption .caption {
    position: absolute;
    text-align: right;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #FAFAFA;
    background: #0A1324;
    padding: 10px;
    transform: translateY(0);
    transition: transform 0.4s ease-in-out; }
  .imageWithCaption:hover .caption {
    transform: translateY(-50px); }
  .imageWithCaption:hover img {
    opacity: 0.8; }

img#mainLogo {
  width: 70%;
  max-width: 400px;
  display: block;
  position: relative;
  margin: 0 auto;
  transition: all 0.5s ease; }

nav {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  background-color: #FAFAFA;
  padding: 14px 6px;
  text-align: left;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  transition: border-radius 0.4s linear; }
  nav:hover {
    border-radius: 4px; }
  nav #mobileNavButton {
    background-image: url("../images/menu.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: relative;
    display: none;
    padding-right: 10px; }
  nav ul#desktopNav {
    background: #FAFAFA;
    list-style: none;
    margin: 0;
    padding: 0; }
    nav ul#desktopNav li {
      display: inline-block;
      margin: 0; }
      nav ul#desktopNav li a {
        color: #3A4355;
        background-color: #FAFAFA;
        text-decoration: none;
        font-size: 1.1em;
        padding: 0.5em;
        transition: all 0.4s ease;
        margin: 0;
        border-radius: 2px; }
        nav ul#desktopNav li a:hover {
          color: #FAFAFA;
          background-color: #3A4355; }
    nav ul#desktopNav .narrow {
      vertical-align: baseline; }
      nav ul#desktopNav .narrow a {
        padding-left: 0; }
        nav ul#desktopNav .narrow a:hover {
          color: #3A4355;
          background-color: #FAFAFA; }
      nav ul#desktopNav .narrow img {
        width: 30px;
        vertical-align: middle;
        padding-bottom: 2px;
        padding-left: 8px; }
    @media (min-width: 450px) {
      nav ul#desktopNav .narrow {
        display: none; } }
    @media (max-width: 450px) {
      nav ul#desktopNav .wide {
        display: none; } }

header.headerSmall {
  height: 48px;
  padding-top: 8px; }
  header.headerSmall .container {
    text-align: left; }
  header.headerSmall #mainLogo {
    background-image: url("../images/small-logo.png");
    width: 160px;
    height: 50px;
    display: inline-block;
    margin: 4px 10px; }
  header.headerSmall h2.whiteText {
    display: inline-block;
    margin-top: -48px;
    vertical-align: middle;
    font-size: 1.4em;
    padding-top: 25px; }
    @media (max-width: 550px) {
      header.headerSmall h2.whiteText {
        display: none; } }
  header.headerSmall nav {
    position: absolute;
    top: 8px;
    right: 0; }
    @media (max-width: 950px) {
      header.headerSmall nav {
        padding: 6px 18px 6px 6px; }
        header.headerSmall nav:hover {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; } }
    @media (max-width: 950px) {
      header.headerSmall nav #mobileNavButton {
        display: block; } }
    @media (max-width: 950px) {
      header.headerSmall nav ul#desktopNav {
        display: none; } }

#mobileNav {
  position: fixed;
  height: 100%;
  width: 200px;
  background: #0A1324;
  top: 0;
  right: -250px;
  z-index: 9999;
  margin: 0;
  color: #FAFAFA;
  list-style-type: none;
  padding: 10% 10px 0;
  font-size: 1.2em;
  transition: right 0.5s ease; }
  #mobileNav li.close {
    position: absolute;
    top: 0;
    right: 7px;
    font-size: 1.4em; }
    #mobileNav li.close img {
      width: 35px;
      transform: rotate(360deg);
      transition: transform 0.4s ease-out;
      transition-delay: 0.4s; }
  #mobileNav li {
    margin: 16px 0;
    transform: translateX(100px);
    opacity: 0;
    transition: transform 0.4s ease-out, opacity 0.4s ease-out; }
  #mobileNav li:nth-child(1) {
    transition-delay: 0.1s; }
  #mobileNav li:nth-child(2) {
    transition-delay: 0.2s; }
  #mobileNav li:nth-child(3) {
    transition-delay: 0.3s; }
  #mobileNav li:nth-child(4) {
    transition-delay: 0.4s; }
  #mobileNav li:nth-child(5) {
    transition-delay: 0.5s; }
  #mobileNav a {
    color: #FAFAFA;
    text-decoration: none; }

.supplier {
  border: 1px solid #B1BBCF;
  border-left: 3px solid #161F32;
  padding-bottom: 20px; }
  @media (max-width: 850px) {
    .supplier {
      text-align: center; } }
  .supplier img.floatLeft {
    width: 20%;
    max-width: 200px; }
    @media (max-width: 850px) {
      .supplier img.floatLeft {
        display: block;
        float: none;
        margin: 10px auto;
        max-width: 125px; } }
  .supplier h3 {
    font-size: 1.4em; }
    .supplier h3 a {
      color: #161F32; }

#mobileNav.active {
  right: 0; }
  #mobileNav.active li {
    transform: translateX(0);
    opacity: 1; }
  #mobileNav.active li.close img {
    transform: rotate(0deg); }

#overlay {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease, opacity 0.5s ease; }

#overlay.active {
  opacity: 1;
  visibility: visible; }

table#openingTimes {
  width: 100%; }
  table#openingTimes td:first-child {
    text-align: left; }

#map {
  display: block;
  margin: 10px auto 0;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3); }

.imagesContainer img {
  vertical-align: middle;
  width: 25%;
  max-width: 350px;
  min-width: 200px;
  margin: 10px 20px;
  opacity: 0;
  transform: translate3d(0, 10%, 0);
  transition: opacity 0.8s ease, transform 0.8s ease; }
.imagesContainer img:nth-child(2) {
  transition-delay: 0.3s; }
.imagesContainer img:nth-child(3) {
  transition-delay: 0.6s; }

.active img {
  transform: translate3d(0, 0, 0);
  opacity: 1; }

.paddingTop {
  padding-top: 2% !important; }

.accentFullWidth {
  position: relative;
  clear: both;
  margin: 5px 0;
  background-color: #9E9E9E;
  padding: 10px;
  transform: skewY(3deg); }
  .accentFullWidth .container {
    position: relative;
    transform: skewY(-3deg); }

.innerContainer#foodList {
  text-align: right;
  border-left: none !important;
  border-right: 3px solid #0A1324 !important; }

@media (max-width: 900px) {
  .mission .floatRight {
    float: none;
    width: 80%;
    margin: 10px; }
  .mission p.nextToImg {
    display: inline-block;
    margin: 0 0 10px 0;
    width: 90%; }
  .mission .importantText {
    margin-bottom: 5px; } }
.mission hr {
  border-top: 1px solid #E0E0E0;
  height: 1px; }
.mission .last {
  margin-top: 20px;
  font-size: 1.1em;
  width: 80%;
  display: inline-block; }

.bible {
  display: inline-block;
  font-style: italic;
  width: 95%;
  text-align: justify;
  padding: 2px 0;
  font-size: 1.1em;
  border-left: 3px solid #161F32;
  padding-left: 14px;
  margin: 10px 0; }
  .bible p {
    margin: 0 0 20px 0; }
  .bible p:last-child {
    margin-bottom: 0; }

.openAnimation {
  animation: openani 1s ease-out forwards;
  animation-iteration-count: 1;
  top: 0; }

@keyframes openani {
  from {
    top: -30px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@keyframes blink {
  0% {
    color: #FAFAFA; }
  50% {
    color: transparent; }
  100% {
    color: #FAFAFA; } }
@media (max-width: 775px) {
  .twothirds {
    margin-bottom: 20px;
    display: block;
    width: 100%; }

  .onethird {
    float: none;
    margin: 0 auto 20px;
    display: block;
    width: 70%; }

  .importantText {
    text-align: center; }

  h1 {
    text-align: center; } }
@media (max-width: 650px) {
  .floatLeft, .floatRight {
    float: none;
    width: 80%;
    margin: 10px auto; } }

/*# sourceMappingURL=style.css.map */
