footer
    .container
        h2 The Well Coffee Shop, Hopton
        p A not for profit coffeeshop, run by&nbsp;
            a(href='http://highstreetchapel.org.uk/' title='High Street Chapel') High Street Chapel Hopton
        p &copy; Copyright The Well Coffee Shop, All Rights Reserved.