footer
h3  The Well Coffee Shop, Hopton
p.small
    | A not for profit coffeeshop, run by
    a(href='http://highstreetchapel.org.uk/' title='High Street Chapel') High Street Chapel Hopton
p.small
    | &copy; Copyright
    span#dateNow
    |  The Well Coffee Shop, All Rights Reserved.