mixin header(small)
    header(class=small ? 'small' : '')
        .container
            img(src='/images/TheWell-Logo.png' alt='The Well Logo')
            h2
                span#writing-sub-title
                noscript A Coffee Shop
                span.blink |
            nav
                ul.desktop-nav
                    li.wide
                        a(href='/' title='Home') Home
                    li.wide
                        a(href='/foodanddrink.pug' title='Food and Drink') Food and Drink
                    li.wide
                        a(href='/mission.pug' title='The Mission') The Mission
                    li.narrow
                        a#open-menu(href='#menu' title='Open Menu') Menu
    //- ul#mobile-nav.mobile-nav
    //-     li
    //-         a(href='/' title='Home') Home
    //-     li
    //-         a(href='/foodanddrink.pug' title='Food and Drink') Food and Drink
    //-     li
    //-         a(href='/mission.pug' title='The Mission') The Mission
    //-     li.close
    //-         a#close-mobile-nav.navOnClick(href='#closeNav' title='close')
    //-             img(src='/images/close.png' alt='Close')
    //- #overlay